@font-face {
  font-family: 'Airbnb Cereal';
  src: url('AirbnbCereal_W_Lt.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Airbnb Cereal';
  font-size: large;
}

p {
  width: 350px;
  text-overflow: ellipsis;
  /* padding: 3px; */
}

a {
  background-color: #081056;
  border-radius: 10px;
  color: rgb(255, 225, 225);
}



* {
  box-sizing: border-box;
}

/* Define your keyframes for the animation */
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  /* Set the dimensions of your container */
  height: 100vh;
  width: 100vw;

  /* Set the background gradient with multiple color stops */
  background: linear-gradient(45deg, #242038, #31081f, #081056,#242038, #31081f, #081056);
  background-size: 300% 300%;

  /* Apply the animation */
  animation: animatedGradient 15s ease infinite;
}

hr {
  border: 1px solid;
  width: 1110px;
  margin-left: 0px;
  margin-top: 20px;
  background-color: #E2E2E2;
  color: #E2E2E2;
}


